<div class="grid-container">
    <div class="row">
        <div class="col-6">
            <h1>První řada</h1>
            <ul>
                <li><a href="//imdb.com/title/tt3464768/" title="Uno">Uno</a></li>
                <li><a href="//imdb.com/title/tt3857028/" title="Mijo">Mijo</a></li>
                <li><a href="//imdb.com/title/tt3858672/" title="Nacho">Nacho</a></li>
                <li><a href="//imdb.com/title/tt3864892/" title="Hero">Hero</a></li>
                <li><a href="//imdb.com/title/tt3876380/" title="Alpine Shepherd Boy">Alpine Shepherd Boy</a></li>
                <li><a href="//imdb.com/title/tt3866650/" title="Five-O">Five-O</a></li>
                <li><a href="//imdb.com/title/tt3884286/" title="Bingo">Bingo</a></li>
                <li><a href="//imdb.com/title/tt3895284/" title="RICO">RICO</a></li>
                <li><a href="//imdb.com/title/tt3895286/" title="Pimento">Pimento</a></li>
                <li><a href="//imdb.com/title/tt3895288/" title="Marco">Marco</a></li>
            </ul>
        </div>
        <div class="col-6">
            <h1>Druhá řada</h1>
            <ul>
                <li><a href="//imdb.com/title/tt3824148/" title="Switch">Switch</a></li>
                <li><a href="//imdb.com/title/tt4462674/" title="Cobbler">Cobbler</a></li>
                <li><a href="//imdb.com/title/tt4462676/" title="Amarillo">Amarillo</a></li>
                <li><a href="//imdb.com/title/tt4462678/" title="Gloves Off">Gloves Off</a></li>
                <li><a href="//imdb.com/title/tt4462682/" title="Rebecca">Rebecca</a></li>
                <li><a href="//imdb.com/title/tt4462680/" title="Bali Ha'i">Bali Ha'i</a></li>
                <li><a href="//imdb.com/title/tt4462684/" title="Inflatable">Inflatable</a></li>
                <li><a href="//imdb.com/title/tt4462686/" title="Fifi">Fifi</a></li>
                <li><a href="//imdb.com/title/tt4462688/" title="Nailed">Nailed</a></li>
                <li><a href="//imdb.com/title/tt4462690/" title="Klick">Klick</a></li>
            </ul>
        </div>
    </div>
</div>