<div class="grid-container">
    <div class="row">
        <div class="col-6">
            <h1>První řada</h1>
            <ul>
                <li><a href="//imdb.com/title/tt3464768/" title="Uno">Uno</a></li>
                <li><a href="//imdb.com/title/tt3857028/" title="Mijo">Mijo</a></li>
                <li><a href="//imdb.com/title/tt3858672/" title="Nacho">Nacho</a></li>
                <li><a href="//imdb.com/title/tt3864892/" title="Hero">Hero</a></li>
                <li><a href="//imdb.com/title/tt3876380/" title="Alpine Shepherd Boy">Alpine Shepherd Boy</a></li>
                <li><a href="//imdb.com/title/tt3866650/" title="Five-O">Five-O</a></li>
                <li><a href="//imdb.com/title/tt3884286/" title="Bingo">Bingo</a></li>
                <li><a href="//imdb.com/title/tt3895284/" title="RICO">RICO</a></li>
                <li><a href="//imdb.com/title/tt3895286/" title="Pimento">Pimento</a></li>
                <li><a href="//imdb.com/title/tt3895288/" title="Marco">Marco</a></li>
            </ul>
        </div>
        <div class="col-6">
            <h1>Druhá řada</h1>
            <ul>
                <li><a href="//imdb.com/title/tt3824148/" title="Switch">Switch</a></li>
                <li><a href="//imdb.com/title/tt4462674/" title="Cobbler">Cobbler</a></li>
                <li><a href="//imdb.com/title/tt4462676/" title="Amarillo">Amarillo</a></li>
                <li><a href="//imdb.com/title/tt4462678/" title="Gloves Off">Gloves Off</a></li>
                <li><a href="//imdb.com/title/tt4462682/" title="Rebecca">Rebecca</a></li>
                <li><a href="//imdb.com/title/tt4462680/" title="Bali Ha'i">Bali Ha'i</a></li>
                <li><a href="//imdb.com/title/tt4462684/" title="Inflatable">Inflatable</a></li>
                <li><a href="//imdb.com/title/tt4462686/" title="Fifi">Fifi</a></li>
                <li><a href="//imdb.com/title/tt4462688/" title="Nailed">Nailed</a></li>
                <li><a href="//imdb.com/title/tt4462690/" title="Klick">Klick</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-center">
            <h1>Sledovanost</h1>
            <table class="viewing-table">
                <thead>
                <tr>
                    <th>Řada</th>
                    <th colspan="10">Epizoda</th>
                </tr>
                <tr>
                    <th></th>
                    <th>1.</th>
                    <th>2.</th>
                    <th>3.</th>
                    <th>4.</th>
                    <th>5.</th>
                    <th>6.</th>
                    <th>7.</th>
                    <th>8.</th>
                    <th>9.</th>
                    <th>10.</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>6,881</td>
                    <td>3,418</td>
                    <td>3,233</td>
                    <td>2,870</td>
                    <td>2,708</td>
                    <td>2,573</td>
                    <td>2,669</td>
                    <td>2,872</td>
                    <td>2,381</td>
                    <td>2,532</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2,573</td>
                    <td>2,228</td>
                    <td>2,201</td>
                    <td>2,199</td>
                    <td>1,992</td>
                    <td>2,105</td>
                    <td>2,031</td>
                    <td>1,930</td>
                    <td>2,059</td>
                    <td>2,263</td>
                </tr>
                </tbody>
            </table>
            <p>
                Hodnota je udávána v tisích diváků<br>
                - Zdroj tabulky a grafu <a href="https://en.wikipedia.org/wiki/Better_Call_Saul">Wikipedia</a>
            </p>
        </div>
        <div class="col-6 text-center">
            <h1>Graf sledovanosti</h1>
            <a href="https://en.wikipedia.org/wiki/Better_Call_Saul">
                <img src="/assets/images/source/viewing-figure.png" alt="Graf sledovanosti" class="fullwidth">
            </a>
            <p>
                Sledovanost udávaná v tisících diváků<br>
                Modrá - první řada <br>
                Červená - druhá řada<
            </p>
        </div>
    </div>
</div>