<div class="row">
    <div class="col-6">
        <h1>O čem je Better Call Saul?</h1>
        <p>
            Better Call Saul je spin-off k seriálu <a href="http://www.csfd.cz/film/237486-pernikovy-tata/">Breaking Bad</a>. Odehrává se ještě před událostmí Breaking Bad
            a popisuje přerod hlavní postavy Jimmyho McGilla v Saula Goodmana. V Breaking Bad je Saul bezostyšný právník, který si nebere servítky se zákonem a je pro dokončení práce
            schopen lhát a překrucovat si zákon podle svého. Oproti tomu je <a href="postavy#jimmy">Jimmy</a> v Better Call Saul na počátku své právnícké kariéry a snaží se jít v
            bratrových stopách, který je partnerem u obrovské právnícké firmy.
         </p>

        <p>
            Seriál se odehrává ve stejných místech jako Breaking Bad a to v Albuquerque. Prozatím se v seriálu objevilo pár postav z Breaking Bad. Vedou se spekulace, že by se ve
            třetí sérii mohl objevit fanoušky oblíbený Gus Fring. Prozatím se v seriálu objevil pouze <a href="postavy#mike">Mike Ehrmantraut</a> a <a href="postavy#tuco">Tuco Salamanca</a>
        </p>
    </div>
    <div class="col-6">
        <h1>Hodnocení seriálu</h1>


        <ul class="rating">
            <li>
                <div class="progressbar">
                    <div class="bar csfd"></div>
                </div>
                <span class="value">84%</span>

                <a href="http://www.csfd.cz/film/366575-volejte-saulovi/">ČSFD </a>
            </li>
            <li>
                <div class="progressbar">
                    <div class="bar imdb"></div>
                </div>
                <span class="value">8.8/10</span>
                <a href="http://www.imdb.com/title/tt3032476/">IMDb</a>
            </li>
            <li>
                <div class="progressbar">
                    <div class="bar tomatoes"></div>
                </div>
                <span class="value">97%</span>
                <a href="https://www.rottentomatoes.com/tv/better-call-saul/"> Rotten Tomatoes </a>
            </li>
            <li>
                <div class="progressbar">
                    <div class="bar meta"></div>
                </div>
                <span class="value">78%</span>
                <a href="http://www.metacritic.com/tv/better-call-saul"> Meta Critic </a>
            </li>
        </ul>

    </div>
</div>

<div class="row">
    <div class="col-6">
        <article class="news">
            <div class="row">
                <div class="col-10"><h2>Novinky ohledně třetí řady a oznámení data vydání</h2></div>
                <div class="col-2 date"> <span>29.10 2016</span></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem debitis id minima minus necessitatibus praesentium quaerat qui vero. Aut est facilis libero minus nobis porro quibusdam tempore velit voluptatum.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea est labore mollitia neque non obcaecati provident quas suscipit veniam vitae. Aperiam asperiores assumenda eos fugit quibusdam? Dicta fuga quos sequi!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam amet aspernatur commodi, delectus dignissimos distinctio dolor doloremque earum eligendi excepturi fuga fugiat, ipsa itaque magni minus natus non omnis optio placeat porro quo ratione repudiandae, suscipit ut vitae voluptates.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, animi, consequatur distinctio doloribus est facilis maxime numquam odit praesentium provident quo ratione sit sunt tempora ut vel vero vitae voluptatem. Dolorem ea error, eveniet nisi obcaecati odio quisquam rem similique? Atque commodi debitis dolorem facilis officia, perspiciatis quod reiciendis repudiandae.</p>
                </div>
            </div>
        </article>
    </div>

    <div class="col-6">
        <article class="news">
            <div class="row">
                <div class="col-10"><h2>Vyšel nový teaser na druhou řadu</h2></div>
                <div class="col-2 date"> <span>6.2 2016</span></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p>Teaser začíná pohledem na Jimmyho ruku, na které má nasazen prsten. Ten patřil je kamarédovi Marcovi, který zemřel v posledním díle první série.
                    Tento prsten symbolizuje Jimmyho dřívější život drobného podvodníka, kdy mu všichni říkali &bdquo; Slippin' Jimmy &ldquo;. Dále z by se z Jimmyho výrazu
                    dalo odhadnout, že na svůj starý život chce zapomenout a vložit se do kariéry právnika pro lidi v důchodu naplno.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <div class="video-wrap">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/OJ6i-1JFECQ" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </article>
    </div>
</div>
