<div class="row">
    <div class="col-12">
        <h1>Hlavní Postavy</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque eos minus praesentium ratione sed voluptatibus.
            Amet aspernatur, atque blanditiis, doloribus et explicabo in, ipsum itaque iusto laborum minus non odit porro provident quos!
            Ad architecto eum molestiae, nisi pariatur reiciendis sit vero! Ex ipsam nemo quaerat quos voluptatum.
            A adipisci alias aliquam aliquid architecto culpa dolore ducimus, eligendi est eum exercitationem itaque iure,
            iusto magnam maxime, natus odit officia praesentium quasi qui quibusdam recusandae reiciendis unde ut vel!
            Esse libero minima minus nemo nulla odio quisquam sunt tenetur ut.
        </p>
    </div>
</div>


<div class="row">
    <div class="col-6">
        <div class="feature row" id="jimmy">
            <div class="image col-3">
                <img src="/assets/images/source/feature/saul-goodman.jpg">
            </div>
            <div class="desc col-9">
                <div class="headline">Jimmy McGill</div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusantium eligendi fuga, laborum nesciunt provident repellat rerum
                    totam ut vero voluptatem.
                </div></div>
        </div>
    </div>
    <div class="col-6">
        <div class="feature row" id="mike">
            <div class="image col-3">
                <img src="/assets/images/source/feature/mike.jpg">
            </div>
            <div class="desc col-9">
                <div class="headline">Mike Ehrmantraut</div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusantium eligendi fuga, laborum nesciunt provident repellat rerum
                    totam ut vero voluptatem.
                </div></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="feature row">
            <div class="image col-3">
                <img src="/assets/images/source/feature/kim.jpg">
            </div>
            <div class="desc col-9">
                <div class="headline">Kim Wexler</div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusantium eligendi fuga, laborum nesciunt provident repellat rerum
                    totam ut vero voluptatem.
                </div></div>
        </div>
    </div>
    <div class="col-6">
        <div class="feature row">
            <div class="image col-3">
                <img src="/assets/images/source/feature/chuck.jpg">
            </div>
            <div class="desc col-9">
                <div class="headline">Chuck McGill</div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusantium eligendi fuga, laborum nesciunt provident repellat rerum
                    totam ut vero voluptatem.
                </div></div>
        </div>
    </div>

</div>


<div class="row">
    <div class="col-12">
        <h1>Vedlejší postavy</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor doloremque eos minus praesentium ratione sed voluptatibus.
            Amet aspernatur, atque blanditiis, doloribus et explicabo in, ipsum itaque iusto laborum minus non odit porro provident quos!
            Ad architecto eum molestiae, nisi pariatur reiciendis sit vero! Ex ipsam nemo quaerat quos voluptatum.
            A adipisci alias aliquam aliquid architecto culpa dolore ducimus, eligendi est eum exercitationem itaque iure,
            iusto magnam maxime, natus odit officia praesentium quasi qui quibusdam recusandae reiciendis unde ut vel!
            Esse libero minima minus nemo nulla odio quisquam sunt tenetur ut.
        </p>
    </div>
</div>


<div class="row">
    <div class="col-6">
        <div class="feature row">
            <div class="image col-3">
                <img src="/assets/images/source/feature/nacho.jpg">
            </div>
            <div class="desc col-9">
                <div class="headline">Nacho Varga</div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusantium eligendi fuga, laborum nesciunt provident repellat rerum
                    totam ut vero voluptatem.
                </div></div>
        </div>
    </div>
    <div class="col-6">
        <div class="feature row">
            <div class="image col-3">
                <img src="/assets/images/source/feature/howard.jpg">
            </div>
            <div class="desc col-9">
                <div class="headline">Howard Hamlin</div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusantium eligendi fuga, laborum nesciunt provident repellat rerum
                    totam ut vero voluptatem.
                </div></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="feature row" id="tuco">
            <div class="image col-3">
                <img src="/assets/images/source/feature/tuco.jpg">
            </div>
            <div class="desc col-9">
                <div class="headline">Tuco Salamanca</div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusantium eligendi fuga, laborum nesciunt provident repellat rerum
                    totam ut vero voluptatem.
                </div></div>
        </div>
    </div>
    <div class="col-6">
        <div class="feature row">
            <div class="image col-3">
                <img src="/assets/images/source/feature/stacey.jpg">
            </div>
            <div class="desc col-9">
                <div class="headline">Stacey Ehrmantraut</div>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusantium eligendi fuga, laborum nesciunt provident repellat rerum
                    totam ut vero voluptatem.
                </div></div>
        </div>
    </div>

</div>