<div class="row">
    <div class="col-6">
        <div class="feature">
            <div class="image">
                <img src="/assets/images/source/feature/saul-goodman.jpg">
            </div>
            <div class="desc">
                <h3 class="headline">Saul Goodman</h3>
                <div class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusantium eligendi fuga, laborum nesciunt provident repellat rerum
                    totam ut vero voluptatem.
                </div></div>
        </div>
    </div>
    <div class="col-6"></div>
</div>