<div class="row">
    <div class="col-12">
        <h1>Hlavní Postavy</h1>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="feature row" id="jimmy">
            <div class="image col-3">
                <img src="/assets/images/source/feature/saul-goodman.jpg" alt="Portrét postavy Jimmy McGill">
            </div>
            <div class="desc col-9">
                <div class="headline">Jimmy McGill</div>
                <div class="text">
                    Je hlavním protagonistou seriálu. Je právníkem, který ne vždy hraje podle pravidel. Pomáhá svému
                    bratrovi, který mu stále hází klacky pod nohy. V minulosti, když byl ještě podvodník se mu říkalo
                    Slippin' Jimmy.
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="feature row" id="mike">
            <div class="image col-3">
                <img src="/assets/images/source/feature/mike.jpg" alt="Portrét postavy Mike Ehrmantraut">
            </div>
            <div class="desc col-9">
                <div class="headline">Mike Ehrmantraut</div>
                <div class="text">
                    Bývalý policista z Philadephie. Dnes již v důchodu a přividělává si zločineckými prácičkami, aby
                    mohl podpořit svou snachu Stacey, která je již vdova. Je nekompormisní a vždy drží slovo a nesnáší
                    střelné zbraně.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="feature row">
            <div class="image col-3">
                <img src="/assets/images/source/feature/kim.jpg" alt="Portrét posty Kim Wexler">
            </div>
            <div class="desc col-9">
                <div class="headline">Kim Wexler</div>
                <div class="text">
                    Ambiciózní mladá právnička, která je i zárověň kamarádkou Jimmyho. Oba jsou naprosto odlišní,
                    protože ona hraje vždy podle pravidel. Pracuje pro HHM, ve které je Chuck partnerem.
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="feature row">
            <div class="image col-3">
                <img src="/assets/images/source/feature/chuck.jpg" alt="Portrét postavy Chuck McGill">
            </div>
            <div class="desc col-9">
                <div class="headline">Chuck McGill</div>
                <div class="text">
                    Jimmyho starší bratr. Trpí tzv. alergii na elektřinu. Díky této poruše nemůže vyjít z domu a ani
                    pracovat v HHM. Je závislí na Jimmyho pomoci. Doposud je známo, že nepřeje mladšímu bratru úspěch a
                    pokaždé když Jimmy poruší pravidla, tak se jeho stav zhorší.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1>Vedlejší postavy</h1>
    </div>
</div>


<div class="row">
    <div class="col-6">
        <div class="feature row">
            <div class="image col-3">
                <img src="/assets/images/source/feature/nacho.jpg"  alt="Portrét postavy Nacho Varga">
            </div>
            <div class="desc col-9">
                <div class="headline">Nacho Varga</div>
                <div class="text">
                    Člen gangu patříci rodině Salamaců. Chvili pracuje s Jimmym a později se na pár pracích domlouvá s
                    Mikem. Ne všchny vyjdou podle jeho představ. Jednu dobu mu Jimmy dělá právníka kvůli nezdařené
                    loupeži.
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="feature row">
            <div class="image col-3">
                <img src="/assets/images/source/feature/howard.jpg"  alt="Portrét postavy Howard Hamlin">
            </div>
            <div class="desc col-9">
                <div class="headline">Howard Hamlin</div>
                <div class="text">
                    Howard je druhým partnerem HHM. Je tvrdý, neústupný a charismatický. Když Jimmy ještě pracoval v
                    podatelně HHM tak mu Howard sdělil, že jej HHM jako právníka nenajme. Jimmy je s Howardem v rozepři,
                    protože nevyplácí Chuckovi dostatek peněz za jeho podíl ve firmě.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="feature row" id="tuco">
            <div class="image col-3">
                <img src="/assets/images/source/feature/tuco.jpg"  alt="Portrét postavy Tuco Salamanca">
            </div>
            <div class="desc col-9">
                <div class="headline">Tuco Salamanca</div>
                <div class="text">
                    Tuco je agresivní a labilní vůdce gangu. Většinou je nepředpovídatelný a nikdo neví co udělá. Má
                    vlastnost zvanou detektor, kterou při dlouhém pohledu do očí dokáže odhalit, zda jej někdo podvedl
                    nebo obral o peníze.
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="feature row">
            <div class="image col-3">
                <img src="/assets/images/source/feature/stacey.jpg"  alt="Portrét postavy Stacey Ehrmantraut">
            </div>
            <div class="desc col-9">
                <div class="headline">Stacey Ehrmantraut</div>
                <div class="text">
                    Stacy je snachou Mika. Její mažel Matt byl zastřelem a proto ji Mike vypomáhá s penězi. Mohlo by se
                    zdát, že Mika přiliš využívá a využívá své dcery aby dostala od Mika více peněz.
                </div>
            </div>
        </div>
    </div>

</div>