<div class="grid-container">
    <div class="row">
        <div class="col-6 text-center">
            <h1>Sledovanost</h1>
            <table class="viewing-table">
                <thead>
                <tr>
                    <th>Řada</th>
                    <th colspan="10">Epizoda</th>
                </tr>
                <tr>
                    <th></th>
                    <th>1.</th>
                    <th>2.</th>
                    <th>3.</th>
                    <th>4.</th>
                    <th>5.</th>
                    <th>6.</th>
                    <th>7.</th>
                    <th>8.</th>
                    <th>9.</th>
                    <th>10.</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>6,881</td>
                    <td>3,418</td>
                    <td>3,233</td>
                    <td>2,870</td>
                    <td>2,708</td>
                    <td>2,573</td>
                    <td>2,669</td>
                    <td>2,872</td>
                    <td>2,381</td>
                    <td>2,532</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>2,573</td>
                    <td>2,228</td>
                    <td>2,201</td>
                    <td>2,199</td>
                    <td>1,992</td>
                    <td>2,105</td>
                    <td>2,031</td>
                    <td>1,930</td>
                    <td>2,059</td>
                    <td>2,263</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
