<div class="grid-container">
    <div class="row">
        <div class="col-6">
            <article class="news">
                <h2>Jídelna Loyola</h2>
                <p>
                    "Loyola's diner" ve skutečnosti existuje a je umístěna u Dálníce 66 (Highway 66). Jídelna byla
                    zároven v Breaking Bad kde se Walter White domlouval s Lydií na obchodech a i v Better Call Saul
                    většinou,
                    když zde Mike snídal.
                </p>
                <img class="fullwidth" src="/assets/images/source/fact1.jpg" alt="Jídelna Loyola">
            </article>
        </div>
        <div class="col-6">
            <article class="news">
                <h2>Saulův Cadillac</h2>
                <p>
                    Saulův bílí pompézní caddilac můžeme vidět i Better Call Saul. V jedné scéně stojí zaparkovaný vedle
                    jeho dvoubarevného Suzuki Esteem. Je zde vyjádřen kontrast mezi tím kdo Jimmy je nyní a kam až se
                    dostane.
                </p>
                <img class="fullwidth" src="/assets/images/source/fact2.jpg" alt="Saulův Caddilac">
            </article>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <article class="news">
                <h2>Vzik seriálu</h2>
                <p>
                    Show byla původně zamýšlena jako vtip. Když scénáristé psali dialogy pro postavu Saula Goodmana z
                    Breaking Bad, tak zjistili, že v seriálu není příliš mnoho místa pro rozvoj osobnosti samotného
                    Saula a
                    proto se Vince Gilligan rozhodl vymyslet nový pořad jako s Spin-off k Breaking Bad.
                </p>
            </article>
        </div>
        <div class="col-4">
            <article class="news">
                <h2>Jméno Saul Goodman</h2>
                <p>
                    Jméno Saul Goodman vzniklo z americké hovorové fráze "It's all good, man.". Jméno původně Jimmy
                    používal
                    pouze při páchání podvodů. To je Naznačeno v poslední epizodě první řady, když s jeho kamarádem
                    Marcem
                    vykonávají podvod s falešnými hodinkami.
                </p>
            </article>
        </div>
        <div class="col-4">
            <h2>Adresa Jimmyho domu</h2>
            <p>
                Ačkoliv většinou Jimmy zůstával v nechtovém salónu, kde má pronajatý byt nebo u Chucka, tak na složence
                v jedné z epizod je uvedena adresa na ulici Juan Tabo. Na této adrese žil i Gale Boetticher.
            </p>
        </div>
    </div>
</div>
