body{
  margin:0;
  margin-top: $navbar-height;
  color: $base-font-color;
  font-size: $base-font-size;
  font-family: $main-font, sans-serif;
  font-weight: 300;

  background: #FEFEFE;
  background-size: cover;
  background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6{
  font-family: $accent-font, sans-serif;
  color: darken($base-font-color, 5);
  font-weight: 400;
}

a{
  color: darken($primary-color, 50);
}

a:hover{
  color: darken($primary-color-dark, 50);
}

a:visited{
  color: darken($accent-color-dark, 30);
}

a:visited:hover{
  color: darken($accent-color-dark, 50);
}

.grid-container{
  background-color: $gray-95;
}

@media all and (max-width: $max-desktop) {
  .github-corner{
    display: none;
  }

  body {
    background-image: none;
  }
}