body{
  margin-top: $navbar-height;
  color: $base-font-color;
  font-size: $base-font-size;
  font-family: $main-font, sans-serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6{
  font-family: $accent-font, sans-serif;
  color: darken($base-font-color, 5);
}

.grid-container{
  background-color: $gray-95;
}

hr{
  display: block;
  margin-bottom: 25px;
  margin-left: 10px;
  margin-right: 10px;
  border: solid $gray-75 1px;
  height: 1px;
}

header.header{
  background-image: url('/assets/images/source/bcs-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  width: 100%;
}

body {
  background-image: url('/assets/images/source/bcs-back.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}


.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {
  0%, 100% {
    transform: rotate(0)
  }
  20%, 60% {
    transform: rotate(-25deg)
  }
  40%, 80% {
    transform: rotate(10deg)
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}